############################
# Fortran 編譯產物
############################
*.o
*.obj
*.MOD
*.exe
*.out
*.a
*.so
*.dll

############################
# Intel / gfortran 可能產物
############################
*.il
*.ipo
*.optrpt
*.smod

############################
# 暫存檔
############################
*~
*.swp
*.tmp

############################
# VS Code
############################
.vscode/

############################
# macOS / Windows
############################
.DS_Store
Thumbs.db

############################
# 你的模擬輸出資料
############################
output/*
figure/*
configuration/*

# 如果 figure 裡面有 README 想保留
# !figure/README.md

############################
# Log 檔
############################
*.log
